@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

:root {

    --cor-preta: #000000;
    --cor-branca: white;

    --cor-cinza-Gray: #808080;

    --cor-vemelho-DarkRed: #8B0000;
    --cor-vermelha: #FF0000;
    --cor-vemelho-tomate: #FF6347;
    --cor-vemelho-LightSalmon: #FFA07A;
    --cor-vemelho-PeachPuff: #FFDAB9;

    --font-text: "Big Shoulders Stencil";
    --font-title: "Crimson Text";
    
}





/*


















*/